*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
}

.cover {
    background-color: white;
    height: 10px;
}

nav {
    background-color: white;
    border-top: 1px solid black;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li:hover > a {
    background: #5DFF00;
    color: black;
    transition: .3s;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
}

nav ul li ul {
    display: block;
    border-top: 2px solid red;
    color: black;
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
}


nav ul li ul li a {
    color: white;
    left: 100%;
}

.html {
    padding-left: 10px;
}

nav ul li:hover > ul {
    opacity: 1;
    visibility: visible;

}

nav ul li ul li ul {
    top: 0;
    left: 100%;
    padding-left:10px;
}

.mentor {
    display: inline-block;
    width: 20%;
    padding: 20px;
}
.pic {
    border-radius: 50%;
}

.pic1 {
    display: inline-block;
    width: 100%;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }